<% include ../viewHelpers/setting_helper %>
<div class="tab-content" id="custom-tabs-two-tabContent">
  <div class="tab-pane fade show active" id="custom-tabs-two-header" role="tabpanel" aria-labelledby="custom-tabs-two-header-tab">
    <%- showHeaderSetting(setting) %>
  </div>
  <div class="tab-pane fade" id="custom-tabs-two-info" role="tabpanel" aria-labelledby="custom-tabs-two-info-tab">
    <%- showInfoSetting(setting) %>
  </div>
  <div class="tab-pane fade" id="custom-tabs-two-purchase" role="tabpanel" aria-labelledby="custom-tabs-two-purchase-tab">
    <%- showPurchaseSetting(setting) %>
  </div>
  <div class="tab-pane fade" id="custom-tabs-two-discount" role="tabpanel" aria-labelledby="custom-tabs-two-discount-tab">
    <%- showDiscountSetting(setting) %>
  </div>
  <div class="tab-pane fade" id="custom-tabs-two-footer" role="tabpanel" aria-labelledby="custom-tabs-two-footer-tab">
    <%- showFooterSetting(setting) %>
  </div>
</div>