<div class="tab-content clearfix" id="tab-settings">
  <form id="changeInfo-form">
    <div class="form-row row">
      <div class="form-group col">
        <label for="inputEmail4">Họ:</label>
        <input value="<%= user.last_name %>" type="text" class="form-control" name="lname" placeholder="Nhập họ..">
      </div>
      <div class="form-group col">
        <label for="inputAddress">Tên:</label>
        <input value="<%= user.first_name %>" type="text" class="form-control" name="fname" placeholder="Nhập tên..">
      </div>
    </div>
    <div class="form-row row">
      <div class="form-group col">
        <label for="inputEmail4">Email:</label>
        <input value="<%= user.email %>" type="email" class="form-control" name="email" placeholder="Nhập email.." readonly>
      </div>
      <div class="form-group col">
        <label for="inputAddress">Số điện thoại:</label>
        <input value="<%= user.phone %>" type="text" class="form-control" name="phone" placeholder="Nhập số điện thoại..">
      </div>
    </div>
    <div class="form-row row">
      <div class="form-group col">
        <label for="inputEmail4">Địa chỉ:</label>
        <input value="<%= user.address%>" type="text" class="form-control" name="address" placeholder="Nhập địa chỉ..">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>