<div class="tab-content clearfix" id="tab-info">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>Tên:</code>
        </td>
        <td><%= user.first_name %></td>
      </tr>
      <tr>
        <td>
          <code>Họ:</code>
        </td>
        <td><%= user.last_name %></td>
      </tr>
      <tr>
        <td>
          <code>Email:</code>
        </td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td>
          <code>Số điện thoại:</code>
        </td>
        <td><%= user.phone %></td>
      </tr>
      <tr>
        <td>
          <code>Địa chi:</code>
        </td>
        <td><%= user.address %></td>
      </tr>
    </tbody>
  </table>

</div>