<% include ../../components/BulkAction %>
<% include ../../components/pagination %>
<% include ../../viewHelpers/item_helper %>
<!-- Content Header (Page header) -->
<% include ../../components/PageHeader %>
<% include ../../components/StatusFilter %>
<div class="col-md-12">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="card-title flex-1">List
            <%= collection %></h3>
          <%- showAction(collection) %>
        </div>
        <a type="button" class="btn  btn-secondary" href="/admin/<%= collection %>/add">Add</a>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" value="" id="check-all" /></th>
            <th style="width: 10px">#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Status</th>
            <th>Ordering</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- showListItems(collection, items,currentStatus,  keyword, pagination)  %>
        </tbody>
      </table>
    </div>
    <div class="card-footer clearfix">
      <nav aria-label="Page navigation example" class="float-right">
        <%- showpagination(collection, currentStatus, keyword, pagination) %>
      </nav>

    </div>
  </div>
</div>