<div class="col-md-2">

  <a href="#" title="Brand Logo" class="d-none d-md-block"><img src="/uploads/brand/<%= brand.image %>" alt=<%= brand.image %>"></a>

  <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

  <div class="feature-box fbox-plain fbox-dark fbox-sm">
    <div class="fbox-icon">
      <i class="<%= settings.purchase.first.icon %>"></i>
    </div>
    <div class="fbox-content fbox-content-sm">
      <h3><%= settings.purchase.first.name %></h3>
      <p class="mt-0"><%= settings.purchase.first.description %></p>
    </div>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
    <div class="fbox-icon">
      <i class="<%= settings.purchase.second.icon %>"></i>
    </div>
    <div class="fbox-content fbox-content-sm">
      <h3><%= settings.purchase.second.name %></h3>
      <p class="mt-0"><%= settings.purchase.second.description %></p>
    </div>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
    <div class="fbox-icon">
      <i class="<%= settings.purchase.third.icon %>"></i>
    </div>
    <div class="fbox-content fbox-content-sm">
      <h3><%= settings.purchase.third.name %></h3>
      <p class="mt-0"><%= settings.purchase.third.description %></p>
    </div>
  </div>

  <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
    <div class="fbox-icon">
      <i class="<%= settings.purchase.fourth.icon %>"></i>
    </div>
    <div class="fbox-content fbox-content-sm">
      <h3><%= settings.purchase.fourth.name %></h3>
      <p class="mt-0"><%= settings.purchase.fourth.description %></p>
    </div>
  </div>

</div>