<% include ../../viewHelpers/selectBox_helper %>

<div class="col-lg-6 checkout-form">
  <h3>Thông tin khách hàng</h3>
  <div id="billing-form" name="billing-form" class="row mb-0">

    <div class="col-md-6 form-group">
      <label for="billing-form-name">Tên:</label>
      <input type="text" id="billing-form-name" name="fname" value="<%= typeof user !== 'undefined' ? user.first_name : '' %>" class="sm-form-control" />
    </div>

    <div class="col-md-6 form-group">
      <label for="billing-form-lname">Họ:</label>
      <input type="text" id="billing-form-lname" name="lname" value="<%= typeof user !== 'undefined' ? user.last_name : '' %>" class="sm-form-control" />
    </div>

    <div class="w-100"></div>

    <div class="col-md-6 form-group">
      <label for="billing-form-email">Email:</label>
      <input type="email" id="billing-form-email" name="email" value="<%= typeof user !== 'undefined' ? user.email : '' %>" class="sm-form-control" <%= typeof user !== 'undefined' ? 'readonly' : '' %> />
    </div>

    <div class="col-md-6 form-group">
      <label for="billing-form-phone">Số điện thoại (10 số):</label>
      <input type="text" id="billing-form-phone" name="phone" value="<%= typeof user !== 'undefined' ? user.phone : '' %>" class="sm-form-control" />
    </div>
  </div>
</div>

<div class="col-lg-6 checkout-form">
  <h3>Địa chỉ giao hàng</h3>
  <div id="billing-form" name="billing-form" class="row mb-0">

    <div class="col-12 form-group">
      <label for="shipping-form-address">Địa chỉ:</label>
      <input type="text" id="shipping-form-address" name="address" value="<%= typeof user !== 'undefined' ? user.address : '' %>" class="sm-form-control" />
    </div>
    <div class="w-100"></div>
    <div class="col-12 form-group">
      <label for="shipping-form-city">Khu vực</label>
      <select class="sm-form-control" id="select" name='location' onchange="javascript:handleSelectLocation()">
        <option value="">Chọn khu vực</option>
        <%- showSelectBox(locations) %>
      </select>
    </div>

  </div>
</div>
<div class="col-lg-12 d-flex justify-content-center checkout-form" style="margin: 0 !important;">
  <div class="col-8 form-group">
    <label for="shipping-form-message">Ghi chú <small>*</small></label>
    <textarea class="sm-form-control" id="shipping-form-message" name="message" rows="6" cols="30"></textarea>
  </div>
  <!-- <input type="hidden" name="user_id" value="<%= typeof user !== 'undefined' ? user.id : '' %>" /> -->
  <input type="hidden" name="products" id="productInput" />
  <input type="hidden" name="coupon" id="couponInput" />
  <input type="hidden" name="delivery" id="deliveryInput" />
</div>