<% include ../viewHelpers/subscribe_helper %>
<% include ../viewHelpers/footer_helper %>
<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets
				============================================= -->
    <div class="footer-widgets-wrap" style="padding: 60px;">
      <div class="row col-mb-50">
        <div class="col-lg-6">

          <div class="widget clearfix">

            <img src="/uploads/setting/<%= settings.footer.logo %>" alt="Image" class="footer-logo">

            <div class="py-2" style="background: url('') no-repeat center center;">
              <div class="row col-mb-30">
                <div class="col-6">
                  <address class="mb-0">
                    <abbr title="Headquarters" style="display: inline-block;margin-bottom: 7px;"><strong>Địa chỉ:</strong></abbr><br>
                    <%= settings.footer.address%><br>
                  </address>
                </div>
                <div class="col-6">
                  <abbr title="Phone Number"><strong>Phone:</strong></abbr> <%= settings.footer.phone%><br>
                  <abbr title="Fax"><strong>Fax:</strong></abbr> <%= settings.footer.fax%><br>
                  <abbr title="Email Address"><strong>Email:</strong></abbr> <%= settings.footer.email%>
                </div>
              </div>
            </div>
            <a href=" <%= settings.footer.link.facebook%>" class="social-icon si-small si-rounded topmargin-sm si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
            <a href=" <%= settings.footer.link.gmail%>" class="social-icon si-small si-rounded topmargin-sm si-gmail">
              <i class="icon-gmail"></i>
              <i class="icon-gmail"></i>
            </a>
            <a href=" <%= settings.footer.link.git%>" class="social-icon si-small si-rounded topmargin-sm si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>
            <a href=" <%= settings.footer.link.linkedin%>" class="social-icon si-small si-rounded topmargin-sm si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget quick-contact-widget form-widget clearfix">
            <h4>Bài đăng gần đây</h4>
            <div class="posts-sm row col-mb-30" id="post-list-footer">
              <%- showFooterContent(recentPosts) %>
            </div>
          </div>
          <div class="widget quick-contact-widget form-widget clearfix">

            <h4>Đăng ký nhận tin</h4>

            <div class="form-result"></div>

            <%- showInputSubscribe(settings.footer) %>



          </div>
        </div>
      </div>
    </div><!-- .footer-widgets-wrap end -->
  </div>
</footer>