<% include ../../viewHelpers/subscribe_helper %>

<div class="row justify-content-center col-mb-50 mb-0 w-info">
  <div class="col-sm-6 col-lg-4">
    <div class="fancy-title title-border">
      <h4><%= settings.info.left.name %></h4>
    </div>
    <p><%= settings.info.left.description %></p>
  </div>

  <div class="col-sm-6 col-lg-4 subscribe-widget">
    <div class="fancy-title title-border">
      <h4><%= settings.info.mid.name %></h4>
    </div>
    <p><%= settings.info.mid.description %></p>
    <%- showInputSubscribe(settings.info.mid) %>

  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="fancy-title title-border">
      <h4><%= settings.info.right.name %></h4>
    </div>

    <a href="<%= settings.info.right.link.facebook %>" class="social-icon si-facebook" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
      <i class="icon-facebook"></i>
      <i class="icon-facebook"></i>
    </a>
    <a class="social-icon si-call" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= settings.info.right.link.phone %>">
      <i class="icon-call"></i>
      <i class="icon-call"></i>
    </a>
    <a href="<%= settings.info.right.link.phone %>" class="social-icon si-call" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub">
      <i class="icon-github"></i>
      <i class="icon-github"></i>
    </a>
    <a href="#" class="social-icon si-linkedin" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= settings.info.right.link.phone %>">
      <i class="icon-linkedin"></i>
      <i class="icon-linkedin"></i>
    </a>
    <a href="<%= settings.info.right.link.gmail %>" class="social-icon si-google-drive" data-bs-toggle="tooltip" data-bs-placement="top" title="Drive">
      <i class="icon-google-drive"></i>
      <i class="icon-google-drive"></i>
    </a>
    <a href="<%= settings.info.right.link.gmail %>" class="social-icon si-google" data-bs-toggle="tooltip" data-bs-placement="top" title="Gmail">
      <i class="icon-google"></i>
      <i class="icon-google"></i>
    </a>

  </div>
</div>