<div class="section mb-0" style="margin-top: 30px !important;">
  <div class="container">

    <div class="row col-mb-50">
      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= settings.purchase.first.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= settings.purchase.first.name %></h3>
            <p class="mt-0"><%= settings.purchase.first.description %></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= settings.purchase.second.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= settings.purchase.second.name %></h3>
            <p class="mt-0"><%= settings.purchase.second.description %></p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= settings.purchase.third.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= settings.purchase.third.name %></h3>
            <p class="mt-0"><%= settings.purchase.third.description %></p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= settings.purchase.fourth.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= settings.purchase.fourth.name %></h3>
            <p class="mt-0"><%= settings.purchase.fourth.description %></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>