<div class="section mb-0">
  <div class="container">

    <div class="row col-mb-50">
      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= purchaseSetting.first.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= purchaseSetting.first.name %></h3>
            <p class="mt-0"><%= purchaseSetting.first.description %></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= purchaseSetting.second.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= purchaseSetting.second.name %></h3>
            <p class="mt-0"><%= purchaseSetting.second.description %></p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= purchaseSetting.third.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= purchaseSetting.third.name %></h3>
            <p class="mt-0"><%= purchaseSetting.third.description %></p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <div class="feature-box fbox-plain fbox-dark fbox-sm">
          <div class="fbox-icon">
            <i class="<%= purchaseSetting.fourth.icon %>"></i>
          </div>
          <div class="fbox-content">
            <h3><%= purchaseSetting.fourth.name %></h3>
            <p class="mt-0"><%= purchaseSetting.fourth.description %></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>